# Introduction to Python:

In [1]:
# first program in python
print("Hello World!")

Hello World!

In [2]:
print("Career")
print("Labs")

Career
Labs

### Variables:

In [3]:
# Assign values to variables
a = 10
b = 20

sum = a + b
print(sum)

30

In [4]:
 a = 10
 b = 20
 
 multiple = a*b
 print("multiple")
 print(multiple)

multiple
200

### Types of data in python

In [5]:
a = 10
a = 20
a = "sample"
a

'sample'

In [6]:
type(a)

str

In [7]:
a = "string"
print(type(a))
a = 10
print(type(a))

<class 'str'>
<class 'int'>

#### Python Numbers:

In [8]:
a1 = 23
a2 = 3.4
a3 = 4 + 5j

print(type(a1))
print(type(a2))
print(type(a3))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
a = 10
print(id(a))
a = a + 1
print(id(a))
a

1817333465616
1817333465648

11

In [10]:
a = 10
b = 10
print(id(a))
print(id(b))

1817333465616
1817333465616

In [11]:
a = 10
id1 = id(a)
b = a + 2 - 2
id2 = id(b)
print(id1,id2)

1817333465616 1817333465616

#### Limit of Integers

In [12]:
import numpy
import math

print(math.pi)

3.141592653589793

#### Arithmetic Operators

In [13]:
# +, -, *, /, %
a = 10
b = 4

# addition and subtraction
print(a - b)
print(a + b)

6
14

In [14]:
#Multiplication 
a * b

40

In [15]:
# Floating point division
a / b

2.5

In [16]:
#integer division
a // b

2

In [17]:
# Modulo
a % b

2

In [18]:
# Exponential
a ** b

10000

In [19]:
2 + 3 * 4

14

In [20]:
2 + (3 * 4)

14

In [21]:
2 * 3 / 4 #doesn't matter

1.5

In [22]:
2 * 3 // 4

1

In [23]:
# simple interest
p = 100
r = 12
t = 2
#si = p * r * t // 100
#si = t // 100 * r * t
si = (p * r * t) // 100
si

24

In [24]:
# fah to celcius
f = 100
c = f - 32 * 5 / 9
c

82.22222222222223

In [25]:
c = (f - 32 ) * 5 / 9
print(c)
ci = (f - 32 ) * 5 // 9
print(ci)

37.77777777777778
37

In [26]:
print(17//10)
print(17/10)

1
1.7

#### Taking Inputs

In [27]:
a = input()
a

'5'

In [31]:
# Takes input as 'str'
a = input()
b = input()
s = a + b
print(s)

1005

In [33]:

name = input("Type your name: ")
print("Your name: ", name)

Your name:  Krian

In [34]:
#Adding two numbers
a = int(input())
b = int(input())
s = a + b
print(s)

45