#### Introduction to Lists

In [1]:
# Creating list
li = []

In [2]:
li = [1, 2, 3]

In [3]:
type(li)

list

In [4]:
li = [1, 2, "Parikh",3.4]

In [5]:
li

[1, 2, 'Parikh', 3.4]

##### Accessing of list through index

In [6]:
li[1]

2

In [7]:
li[0]

1

In [8]:
li[2]

'Parikh'

In [11]:
li[3] = "Rohan"

In [12]:
li

[1, 2, 'Parikh', 'Rohan']

##### Slicing of Lists

In [13]:
li[1:3]

[2, 'Parikh']

In [14]:
li

[1, 2, 'Parikh', 'Rohan']

In [15]:
li[1:]

[2, 'Parikh', 'Rohan']

In [16]:
li[:]

[1, 2, 'Parikh', 'Rohan']

In [17]:
li[1:10]

[2, 'Parikh', 'Rohan']

##### Insert and append elements to lists

In [18]:
li.append("Ankush")

In [19]:
li

[1, 2, 'Parikh', 'Rohan', 'Ankush']

In [20]:
li.insert(1,)

TypeError: insert expected 2 arguments, got 1

In [21]:
li.insert(1,7)

In [22]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush']

In [25]:
li.insert(6,10)

In [26]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6]

In [27]:
li.insert(10,"Karan")

In [28]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan']

In [29]:
li.append([9,10,1])

In [30]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan', [9, 10, 1]]

In [31]:
li.extend([9,10,11])

In [32]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan', [9, 10, 1], 9, 10, 11]

##### Removing Elements from Lists

In [33]:
li.append(5)

In [34]:
li

[1,
 7,
 2,
 'Parikh',
 'Rohan',
 'Ankush',
 10,
 6,
 'Karan',
 [9, 10, 1],
 9,
 10,
 11,
 5]

In [35]:
li.remove(5)

In [36]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan', [9, 10, 1], 9, 10, 11]

In [38]:
li.pop()

11

In [39]:
li

[1, 7, 2, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan', [9, 10, 1], 9, 10]

In [40]:
li.pop(2)

2

In [41]:
li

[1, 7, 'Parikh', 'Rohan', 'Ankush', 10, 6, 'Karan', [9, 10, 1], 9, 10]

In [42]:
len(li)

11

In [43]:
li = ['abcd','def']
li.insert(4,5)
print(li)

['abcd', 'def', 5]

In [45]:
li = ['abcd','5','def',5]
li.remove(5)
print(li)

['abcd', '5', 'def']

In [47]:
li = ['abcd',5,'def',5]
li.remove(5)
print(li)

['abcd', 'def', 5]

In [48]:
li = [5,2,6,8]
li.pop(2)
print(li)

[5, 2, 8]

##### How elements are stored in lists

In [49]:
# lists stores values as a reference and it is continuous values.

##### Looping on Lists

In [50]:
li = [1, 2, "Parikh", 9, 10, 11, "Ankush"]

In [51]:
li

[1, 2, 'Parikh', 9, 10, 11, 'Ankush']

In [52]:
for i in range(len(li)):
    print(li[i])

1
2
Parikh
9
10
11
Ankush

In [53]:
for i in range(2,len(li)):
    print(li[i])

Parikh
9
10
11
Ankush

In [54]:
for ele in li:
    print(ele)

1
2
Parikh
9
10
11
Ankush

In [57]:
for ele in li[2:]:
    print(ele)

Parikh
9
10
11
Ankush

In [58]:
li = [1, 2, 3, 4, 5]
for i in li[1:4]:
    print(i, end="")

234

##### Negative Indexing and Sequencing in Lists

In [59]:
# Negative indexing
li[0]

1

In [60]:
li[-1]

5

In [61]:
li[-2]

4

In [62]:
li[-3]

3

In [63]:
li

[1, 2, 3, 4, 5]

In [65]:
li[-5]

1

In [66]:
# Sequencing in Lists
li[::2]

[1, 3, 5]

In [67]:
li[1:5:1]

[2, 3, 4, 5]

In [68]:
li[1:3:1]

[2, 3]

In [69]:
li[1:5:2]

[2, 4]

In [72]:
li[1::2]

[2, 4]

In [73]:
li[-1:]

[5]

In [74]:
li[:-3:-1]

[5, 4]

In [75]:
li[::-1]

[5, 4, 3, 2, 1]

##### Line separated Input of List

In [78]:
# Line separated inputs
n = int(input())
li = []

for i in range(n):
    curr = int(input())
    li.append(curr)

In [79]:
li

[12, 5, 6, 7, 8]

In [80]:
for ele in li:
    print(ele)

12
5
6
7
8

In [81]:
n = int(input())
li = []
for i in range(n):
    li.append(input())
print(li)

['1', '2', '3', '4', '5']

##### Space Separated input to List

In [82]:
n = int(input())
print(n)

5

In [84]:
str = input()
print(str)

1 2 3 4 5

In [85]:
li = []

In [86]:
str_split = str.split(" ")

In [87]:
str_split

['1', '2', '3', '4', '5']

In [88]:
str = input()

In [89]:
str

'1,2,3,4,5'

In [92]:
str_split = str.split(",")

In [93]:
str_split

['1', '2', '3', '4', '5']

In [95]:
for ele in str_split:
    li.append(int(ele))
print(li)

[1, 2, 3, 4, 5]

In [99]:
li = [int(x) for x in input().split()]
print(li)

[1, 2, 3, 4, 5]

In [100]:
for ele in li:
    print(ele)

1
2
3
4
5

In [101]:
li = [x for x in input().split()]
print(li)

['1', '3', '6', '8', '9']

In [8]:
N = int(input())
sum = 0
for i in range(1,N+1):
    val = int(input())
    sum = sum + val

print(sum)

6

In [9]:
N = int(input())
sum = 0
for i in range(1,N+1):
    val = int(input())
    sum = sum + val

print(sum)

26

In [13]:
N = int(input())
li = []
for i in range(N): 
    val = int(input())
    li.append(val)
    for j in li:
        sum = sum + i

print(sum)
print(li)

36
[9, 8, 9]

In [22]:
n = int(input()) 
li = [int(x) for x in input().split()] 
sum = 0 
for ele in li:
    sum += ele 
print(sum)

26